<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NuruNuru.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1AB916AE7B9418918F86A65AF73E757A99CB63BC</string>
				<key>dateExpires</key>
				<string>2027/05/02</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>66G7S3P755.io.nurunuru.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>webcredentials:www.nullnull.app</string>
					<string>webcredentials:nullnull.app</string>
					<string>applinks:www.nullnull.app</string>
					<string>applinks:nullnull.app</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>66G7S3P755</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NuruNuru.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2dbc0cb1-2270-45f8-9d1a-570f97bde082</string>
				<key>dateExpires</key>
				<string>2027/05/02</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: io.nurunuru.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>66G7S3P755</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.5.2</string>
		</dict>
	</array>
</dict>
</plist>
